{% include 'components/store/header.html' %}
<div class="container" style="margin-bottom:50px;">
  <h1>ADD TICKET</h1>
    <form method="POST" action=""  style="border:2px solid pink;">
    {% csrf_token %}
        <div class="col-md-12 col-xs-12">
            <label>Name*:</label>
            <input type="text" class="form-control" name="name" value="" required />
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Detail*:</label>
            <input type="text" class="form-control" name="detail" value="" required />
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Price*:</label>
            <input type="number" class="form-control" name="price" value="" required />
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Expire date*:</label>
            <input type="date" class="form-control" name="expire_date" value="" required />
        </div>
        <div class="col-md-12 col-xs-12">
            <label class="checkbox">
            Is period?
            <input type="checkbox" value="period" data-toggle="checkbox" class="custom-checkbox" name="is_period">
            <span class="icons">
                <span class="icon-unchecked"></span>
                <span class="icon-checked"></span>
            </span>
            </label>
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Remaining day:</label>
            <input type="number" class="form-control" name="remaining_day" value="" />
        </div>
        <div class="col-md-12 col-xs-12">
            <label class="checkbox">
            Is limit?
            <input type="checkbox" value="limit" data-toggle="checkbox" class="custom-checkbox" name="is_limit">
            <span class="icons">
                <span class="icon-unchecked"></span>
                <span class="icon-checked"></span>
            </span>
            </label>
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Remaining:</label>
            <input type="number" class="form-control" name="remain" value="" />
        </div>
        <div class="col-md-12 col-xs-12" style="margin-top:10px;">
            <label>Currency*:</label>
            <select name="currency">
            {% for c in currency_list %}
                <option value="{{c.pk}}">{{c.name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Ticket image url*:</label>
            <input type="text" class="form-control" name="ticket_image_url" value="" required />
        </div>
        <div class="col-md-12 col-xs-12">
            <label>Content image url*:</label>
            <input type="text" class="form-control" name="content_image_url" value="" required />
        </div>
        <center>
            <input style="margin:20px; width:50%;" class="btn btn-gocoup" type="submit" value="submit" />
        </center>
        {% if error.name_len %}
        <script>
            msg = "Ticket name is too long"
        </script>
        {% endif %}
        {% if error.price_neg %}
        <script>
            msg = "Price must be positive"
        </script>
        {% endif %}
        {% if error.detail_len %}
        <script>
            msg = "Detail is too long"
        </script>
        {% endif %}
        {% if error.remain_neg %}
        <script>
            msg = "Remaining days must be positive"
        </script>
        {% endif %}
        {% if error %}
        <script>
          swal({
            title: msg,
            text: "",
            type: 'error',
          })
        </script>
        {% endif %}
    </form>
</div>
{% include 'components/store/footer.html' %}
    