{% load staticfiles %}
{% include 'components/store/header.html' %}
<div class="row top_tiles" style="display: flex; justify-content: space-between; margin-top: 20px;">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-shopping-cart"></i></div>
            <div class="count">30</div>
            <h3>Sold</h3>
            <p>Total sold of this ticket.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-eye"></i></div>
            <div class="count">56</div>
            <h3>Views</h3>
            <p>Total view of this ticket.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-heart"></i></div>
            <div class="count">179</div>
            <h3>Subscribes</h3>
            <p>Total subscribes of this store.</p>
        </div>
    </div>
</div>
{% include 'components/store/footer.html' %}