{% load staticfiles %}
{% include 'components/store/header.html' %}
<div class="row top_tiles" style="display: flex; justify-content: space-between; margin-top: 20px;">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-shopping-cart"></i></div>
      <div class="count">325</div>
      <h3>Sold</h3>
      <p>Total sold of all tickets.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-eye"></i></div>
      <div class="count">500</div>
      <h3>Views</h3>
      <p>Total view of all tickets.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-heart"></i></div>
      <div class="count">179</div>
      <h3>Subscribes</h3>
      <p>Total subscribes of this store.</p>
    </div>
  </div>
</div>
<div style="display:flex; justify-content: space-around; padding: 20px;">
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Detail</th>
        <th>Date</th>
        <th>Dashboard</th>
        <th>Promote</th>        
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.name }}</td>
          <td>{{ ticket.price }} {{ ticket.currency }}</td>
          <td>{{ ticket.detail }}</td>
          <td>{{ ticket.expire_date }}</td>
          <td><a href="{% url 'store:ticket-dashboard' ticket.id %}"><i class="fa fa-line-chart"></i></a></td>
          <td> 
            <a onclick="promote()"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
          </td>
          <td><a href="{% url 'store:ticket-edit' ticket.id %}"><i class="fa fa-pencil"></i></a></td>
          <td>
            <a onclick="deleteTicket('{% url 'store:ticket-delete' ticket.id %}')"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function deleteTicket(ticketUrl) {
    swal({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then(function () {
      swal(
        'Deleted!',
        'Your row has been deleted.',
        'success',
      )
    }).then(function () {
      window.location.assign(ticketUrl);
    })
  }
</script>
{% if error %}
<script>
  swal(
    'Error !',
    '{{ error }}',
    'error'
  )
  window.history.replaceState(null ,null, '/store')
</script>
{% endif %}
{% include 'components/store/footer.html' %}
