{% include 'components/header.html' %}

<div class="full-container">
  <div class="container">
    <div id="cart">

    </div>
    {% for ticket in tickets %}
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
          <div class="list">
            <img 
              onError="this.onerror=null;this.src='https://assets.kfc.co.uk/3f040df6-0c9cdd0f/wicked-variety-bucket-320w.jpeg'"                        
              class="list-image" src="{{ ticket.content_image_url }}" 
              alt="detail content"
            >
            <div class="list-content">
              <div style="display: flex; justify-content: space-between;">
                <p>name: {{ ticket.name }}</p>  
                <a class="btn" onclick="deleteTicketFromCart({{  ticket.id }})">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>      
              </div>
              <p id='ticket_{{ ticket.id }}'>จำนวน: </p>
              <button class='btn btn-primary' onclick="incrementTicket({{ ticket.id }})">เพิ่ม</button>
              <button class='btn btn-danger' onclick="decrementTicket({{ ticket.id }})">ลด</button>        
            </div>              
          </div>
        </div>
      </div>
    {% endfor %}
    <button class="btn btn-gocoup">shop</button>
    <button class="btn btn-gocoup">pay</button>
  </div>
</div>
<script>
  var count = {};
  var cartItems = getCartItem();

  cartItems.forEach(c => {
    var ticket_id = Object.keys(c)[0];
    var numElement = document.getElementById('ticket_' + ticket_id);
    numElement.innerText = 'จำนวน:' + c[ticket_id];
  });

  function renderTicket(ticket_id, quantity) {
    var numElement = document.getElementById('ticket_' + ticket_id);
    numElement.innerText = 'จำนวน:' + quantity;
  }

  function incrementTicket(ticket_id) {
    var cartItems = getCartItem();
    var item = cartItems.find(c => Object.keys(c)[0] === String(ticket_id)) 
    item[ticket_id]++;
    cartItems = [...cartItems, item];
    var cartString = cartItems.map(c => JSON.stringify(c))
    localStorage.setItem('gocoup-cart', [...new Set(cartString)]);
    renderTicket(ticket_id, item[ticket_id]);
  }

  function decrementTicket(ticket_id) {
    var cartItems = getCartItem();
    var item = cartItems.find(c => Object.keys(c)[0] === String(ticket_id)) 
    if (item[ticket_id] > 2) {
      item[ticket_id]--;
      cartItems = [...cartItems, item];
      var cartString = cartItems.map(c => JSON.stringify(c))
      localStorage.setItem('gocoup-cart', [...new Set(cartString)]);
      renderTicket(ticket_id, item[ticket_id]);
    } else {
      deleteTicketFromCart(ticket_id)
    }
  }

  function deleteTicketFromCart(ticket_id) {
    swal({
        title: 'เอา ticket นี้ออกจาก cart !',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'ใช่',
        cancelButtonText: 'ไม่',
    })
  }
</script>

{% include 'components/footer.html' %}