{% load staticfiles %}
{% include 'components/header.html' %}
<div class="full-container">
  <div class="container">
    <div class="content row">
      <div class="col-md-6 col-xs-12">
        <div class="detail-head">
          <img class="detail-head-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/KFC_logo.svg/1024px-KFC_logo.svg.png" alt="head">
          <div class="detail-head-title">
            <h1>{{ ticket.store }}</h1>
            <p>{{ ticket.expire_date }}</p>
          </div>
        </div>
        <div class="detail-content">
          <img 
            src="{{ ticket.content_image_url }}" 
            alt="detail content"
            onError="this.onerror=null;this.src='https://assets.kfc.co.uk/3f040df6-0c9cdd0f/wicked-variety-bucket-320w.jpeg'"            
          >
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="detail">
          <table class="detail-table">
            <tr>
              <td class="align-left">Detail:</td>
              <td class="align-right">{{ ticket.price }} {{ ticket.currency }}</td>
            </tr>
          </table>
          <div class="detail-discription">
            <p>{{ ticket.detail }}</p>
          </div>
          {% if not is_store %}
            <form method="POST" action="{% url 'market:purchase' %}">
                {% csrf_token %}
                <button class="btn buy-btn" type="submit" name="ticket_id" value="{{ticket.pk}}">Buy</button>
            </form>
            <button class="btn buy-btn" onclick="addItemToCart({{ ticket.id }})">add to cart</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% include 'components/footer.html' %}
