
{% include 'components/header.html' %}

<div class="full-container">   
  <div class="container">
    {% include 'components/tabbar.html' %}
    <div class="table-center">
      <table class="table-content">
        <tr class="table-head">
          <th><h1 class="table-head-text">SHOP</h1></th>
          <th><h1 class="table-head-text">WALLET<h></th>
        </tr>
        <tr>
          <td>KFC</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Mc</td>
          <td>150</td>
        </tr>
      </table>
    </div>
  </div>
</div>
  
{% include 'components/footer.html' %}
  
  