
{% include 'components/header.html' %}

<div class="full-container">
  <div class="container">
    {% include 'components/tabbar.html' %}
    <div class="row table-header">
      <div class="col-md-6">Name</div>
      <div class="col-md-6">Price</div>

    </div>
    {% for wallet in wallets %}
      <div class="row table-content">
        <div class="col-md-6">{{ wallet.name }}</div>
        <div class="col-md-6">{{ wallet.amount }}</div>

      </div>
    {% endfor %}
  </div>
</div>

{% include 'components/footer.html' %}
