body {
  font-family: 'Kanit', sans-serif;
}
.black-ribbon {
  position: fixed;
  z-index: 9999;
  width: 70px;
}
@media only all and (min-width: 768px) {
  .black-ribbon {
    width: auto;
  }
}

.navbar-nav > li > a {
  color: white !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: #f51c61;
}
.navbar-default .navbar-toggle:hover {
  background: #f51c61;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: white !important;
}
.icon-bar {
  background: white !important;
}
.stick-left { left: 0; }
.stick-bottom { bottom: 0; }
.logo-nav {
  width: 22px;
}
.logo {
  width: 90px;
}
.header {
  background: #f1457c;
  color: white;
  border: 1px solid #f1457c;
  border-radius: 0;
}
.full-container {
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
}
.right {
  display: flex;
}
.nav-btn {
  display: inline-block;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
}
.nav-btn:hover {
  background: #f51c61;
}
.nav-btn > a:link, .nav-btn > a:visited {
  text-decoration: none;
  color: white;
}
.footer {
  background: #f1457c;
  margin-top: 50px;
}
.footer-right {
  text-align: right;
}
.coupon-sell {
  border: 1px solid #f1457c;
  -webkit-transition: background 0.5s; /* Safari */
  -moz-transition: background 0.5s; /* Safari */
  -o-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
}
.coupon-sell:hover {
  -webkit-transition: background 0.5s; /* Safari */
  -moz-transition: background 0.5s; /* Safari */
  -o-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
  background: #ffd6e3;
}
.coup-img {
  width: 100%;
  border-bottom: 1px solid #f1457c;
}
.content {
  margin-top: 50px;
}
.coup-left {
  border-right: 1px solid #f1457c;
}
.coup-text {
  padding-left: 15px;
}
.btn-gocoup {
  background: #f1457c;
  color: white;
}

.search-wrapper {
  margin-top: 50px;
}
.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 55px 4px 15px:
  position: relative:
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box:hover {
  border: 1px solid #aaa;
}
.search-input {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
  padding-left: 15px;
}

.search-btn {
  position: absolute;
  right: 17px;
  top: 2px;
  color: #aaa;
  border-radius: 3px;
  font-size: 17px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.search-btn:hover {
  color: #fff;
  background-color: #f1457c;
}
