
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
  <link rel="stylesheet" href="{% static 'css/coupon.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/store.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  <title>Store Management</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,700" rel="stylesheet">
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/flat-ui.min.js' %}"></script>
  <script src="https://use.fontawesome.com/de2946df28.js"></script>
</head>
<body>
    <div class="container body">
        <!-- <div class="main_container"> -->
          <div class="col-sm-2 left_col" style="width:250px; height:100vh; bottom:0; position:fixed">
            <div class="left_col scroll-view">
              <div class="navbar" style="border: 0;">
                <a href="/store" class="site_title"><i class="fa fa-shopping-cart"></i> <span>Store manage</span></a>
              </div>
  
              <div class="clearfix"></div>
  
              <!-- menu profile quick info -->
              <div class="profile clearfix">
                <div class="profile_info">
                  <span>Welcome,</span>
                  <h2>{{ user.username }}</h2>
                </div>
              </div>
              <!-- /menu profile quick info -->
  
              <br />
  
              <!-- sidebar menu -->
              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                  <h3>General</h3>
                  <ul class="nav side-menu">
                    <li><a href="/store"><i class="fa fa-home"></i> Home </a></li>
                    <li><a><i class="fa fa-edit"></i> Edit profile</a></li>
                    <li><a href="{% url 'store:currency-register' %}"><i class="fa fa-money"></i> Add currecy</a></li>
                    <li><a href="{% url 'store:ticket-register' %}"><i class="fa fa-ticket"></i> Add ticket</a></li>
                  </ul>
                </div>
  
              </div>
              <!-- /sidebar menu -->
            </div>
          </div>
        <!-- </div> -->
        <div class="main_container" style="margin-left:250px;">
          <!-- top navigation -->
          <div class="top_nav">
            <div class="nav_menu" style="display:flex; justify-content: space-between;">
              <nav></nav>
              <nav>
                <div class="nav-btn-logo">
                  <a href="/store">
                    <img class="logo" src="{% static 'images/logo-pink.png' %}" alt="logo">
                  </a>
                </div>
              </nav>
              <nav>
                <div class="right">
                  {% if user.is_authenticated %}
                  <div class="nav-btn" style="background-color:#d4286a">
                    <a href="{% url 'user:logout' %}">
                      Logout
                    </a>
                  </div>
                  {% else %}
                    <a href="/user/login">
                      <div class="nav-btn">
                        Login
                      </div>
                    </a>
                    <a href="/user/register">
                      <div class="nav-btn">
                        Register
                      </div>
                    </a>
                  {% endif %}
                </div>
              </nav>
            </div>
          </div>
          <!-- /top navigation -->
      
