{% include 'components/header.html' %}

<div class="full-container">
    
  <div class="container">
    <div class="profile-nav">
      <a class="profile-nav-btn" href="">
        profile
      </a>
      <a class="profile-nav-btn" href="">
        wallet
      </a>
      <div class="profile-image-wrapper">
        <img class="profile-image" src="https://www.what-dog.net/Images/faces2/scroll001.jpg" alt=" profile">
      </div>
      <a class="profile-nav-btn" href="">
        coupon
      </a>
      <a class="profile-nav-btn" href="">
        setting
      </a>
    </div>

    <div class="container">
      <p>Name: Cal</p>
      <p>Last Name: Cal</p>
      <p>Email: Cal@gmail.com</p>
    </div>
  </div>

</div>

{% include 'components/footer.html' %}