{% include 'components/header.html' %}
<div class="full-container">
  <div class="container">
    {% include 'components/tabbar.html' %}

    <h1 class="pink">Current used</h1>
    <div class="container">
    {% for c in coupon %}
      <div class="row">
        <div class="coupon">
          <div class="coupon-img">
            <img class="coupon-image" src="{{c.image_url}}" alt="">
          </div>
          <div class="coupon-content">
            <p>Name: {{c.name}}</p>
            <p>Exp: {{c.exp}}</p>
            <p>Description: {{c.detail}}</p>
          </div>
          <div id="qr_{{ forloop.counter }}"></div>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>

</div>
{% for c in coupon %}
  <script>
    new QRCode(document.getElementById("qr_{{ forloop.counter }}"), {
      text: "http://jindo.dev.naver.com/collie",
      width: 128,
      height: 128,
    });
  </script>
{% endfor %}
{% include 'components/footer.html' %}
