{% include 'components/header.html' %}
{% load qr_code %}
<div class="full-container">
  <div class="container">
    {% include 'components/tabbar.html' %}

    <h1 class="pink">Current used</h1>
    <div class="container">
    {% for c in coupon %}
      <div class="row">
        <div class="coupon">
          <div class="coupon-img">
            <img class="img-coupon" src="{{c.image_url}}" alt="">
          </div>
          <div class="coupon-content">
            <p>Name: {{c.name}}</p>
            <p>Exp: {{c.exp}}</p>
            <p>Description: {{c.detail}}</p>
            <!-- <p>coupon_url: {{ coupon_url.forloop_counter }}</p> -->
          </div>
          <!-- <button data-toggle="modal" data-target="#exampleModal"> -->
          <a data-toggle="modal" data-target="#exampleModal" class="show-modal">
            <div id="qr_{{ forloop.counter }}"></div>
              <!-- {% qr_from_text c.forloop.coun size="M" %} -->
          <!-- </button> -->
          </a>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>
{% for c in coupon_url %}
  <script>
    new QRCode(document.getElementById("qr_{{ forloop.counter }}"), {
      text: "{{ c }}",
      width: 128,
      height: 128,
    });
    $('#qr_{{ forloop.counter }}').parent().attr('url', '{{ c }}')
  </script>
{% endfor %}
<script>
    $('a.show-modal').click(function() {
      var url = $('a.show-modal')[0].attributes[3].value;
      var qrcode = document.getElementById("qrcode-modal");
      if(qrcode.childNodes.length === 0) {
        new QRCode(document.getElementById("qrcode-modal"), {
          text: url,
          width: 256,
          height: 256,
        });
      }
      $('#modal-text').text($(this).attr('url'));
    });

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Scan QR Code</h3>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body text-center">
        <div id="qrcode-modal"></div>
        <div id="modal-text"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

{% include 'components/footer.html' %}
