{% load staticfiles %}
{% include 'components/header.html' %}
<div class="full-container">
  <div class="container">
    <div class="content row">
      <div class="col-md-6 col-xs-12">
        <div class="detail-discription">
          <div class="detail-head" style="display:flex;">
            <a class="coup-link" href="{% url 'index:store' store.pk %}">
              <img class="profile-image" src="{{ store.profile_image_url}}" alt="head">
            </a>
            <div class="detail-head-title">
              <a class="detail-head" href="{% url 'index:store' store.id %}">
                <h1 style="margin-left:10px;">{{ ticket.store }}</h1>
              </a>
              <p style="margin-left:10px;">exp: {{ ticket.expire_date }}</p>
            </div>
          </div>
          <hr>
          <img
            class="detail-content-image"
            src="{{ ticket.content_image_url }}"
            alt="detail content"
            onError="this.onerror=null;this.src='https://assets.kfc.co.uk/3f040df6-0c9cdd0f/wicked-variety-bucket-320w.jpeg'"
          >
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="detail">
          <div class="detail-discription">
            <img class="detail-head-image" src="{{ ticket.ticket_image_url }}" alt="head">
            <table class="detail-table">
              <tr class="detail-tr">
                <td class="align-left">Name:</td>
                <td class="align-right">{{ ticket.name }}</td>
              </tr>
              <tr class="detail-tr">
                <td class="align-left">Price:</td>
                <td class="align-right">{{ ticket.price }} {{ ticket.currency }}</td>
              </tr>
              {% if ticket.is_limit %}
                <tr class="detail-tr">
                  <td class="align-left">Amount:</td>
                  <td class="align-right">{{ ticket.remain }}</td>
                </tr>
              {% endif %}
              {% if ticket.is_period %}
                <tr class="detail-tr">
                  <td class="align-left" colspan="2">Coupon will expire after {{ ticket.remaining_day }} days</td>
                </tr>
              {% endif %}
            </table>
          </div>
          <div class="detail-discription">
            <p>{{ ticket.detail }}</p>
          </div>
          {% if not is_store and user.is_authenticated %}
            <form class="buy-btn-form" method="POST" action="{% url 'market:purchase' %}">
                {% csrf_token %}
                <button class="btn buy-btn" type="submit" name="ticket_id" value="{{ticket.pk}}">Buy</button>
            </form>
            <button class="btn buy-btn" onclick="handlerAddToCart({{ ticket.id }}, '{{ ticket.name }}')">add to cart</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% if success %}
  <script>
    swal({
      title: 'Success!',
      text: "add {{ ticket.name }} to your wallet.",
      type: 'success',
    })
  </script>
{% endif %}
{% if fail %}
<script>
  swal({
    title: 'Fail!',
    text: "not enough currency",
    type: 'error',
  })
</script>
{% endif %}
{% include 'components/footer.html' %}
