
{% include 'components/header.html' %}

<div class="full-container">
  <div class="container">
    {% include 'components/tabbar.html' %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Redeem</th>
        </tr>
      </thead>
      <tbody>
        {% for wallet in wallets %}
          <tr>
            <td>{{ wallet.name }}</td>
            <td>{{ wallet.amount }}</td>
            <td><a href="{% url 'customer:motherload' %}">redeem</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'components/footer.html' %}
