{% load staticfiles %}
{% include 'components/store/header.html' %}
<div class="container">
  <div class="store-header" style="display:flex; justify-content: space-between;">
    <h1>STORE MANAGE</h1>
    <h1>You are : {{ user.username }}</h1>
  </div>
  <a href="{% url 'store:ticket-register' %}">
    <button class="btn btn-gocoup add-item-btn" style="margin-bottom:20px;">
      add new ticket
    </button>
  </a>
  <div class="row table-header">
    <div class="col-xs-12 col-md-2">Name</div>
    <div class="col-xs-12 col-md-2">Price</div>
    <div class="col-xs-12 col-md-2">Detail</div>
    <div class="col-xs-12 col-md-2">Date</div>
    <div class="col-xs-12 col-md-2">Edit</div>
    <div class="col-xs-12 col-md-2">Delete</div>      
  </div>
  {% for ticket in tickets %}
    <div class="row table-content">
      <div class="col-xs-12 col-md-2">{{ ticket.name }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.price }} {{ ticket.currency }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.detail }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.expire_date }}</div>
      <div class="col-xs-12 col-md-2"><a href="{% url 'store:ticket-edit' ticket.id %}">edit</a></div>
      <!-- <div class="col-xs-12 col-md-2"><a href="{% url 'store:ticket-delete' ticket.id %}">delete</a></div>       -->
      <div>
        {% url 'store:ticket-delete' ticket.id %}
      </div>
      <div class="col-xs-12 col-md-2">
        <a onclick="deleteTicket('{% url 'store:ticket-delete' ticket.id %}')">delete</a>
      </div>
    </div>
  {% endfor %}
</div>
<script>
  function deleteTicket(ticketUrl) {
    console.log(ticketUrl);
    swal(
      'Delete',
      'Delete complete!',
      'success'
    )
  }
</script>
{% if error %}
<script>
  swal(
    'Error !',
    '{{ error }}',
    'error'
  )
  window.history.replaceState(null ,null, '/store')
</script>
{% endif %}
{% include 'components/store/footer.html' %}
