{% include 'components/store/header.html' %}
<div class="container">
  <h1>STORE MANAGE</h1>
  <p>you are {{ user.username }}</p>
  <a href="{% url 'store:ticket-register' %}">add new ticket</a>
  {% for ticket in tickets %}
    <div class="row">
      <div class="col-xs-12 col-md-2">{{ ticket.name }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.price }} {{ ticket.currency }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.detail }}</div>
      <div class="col-xs-12 col-md-2">{{ ticket.expire_date }}</div>
      <div class="col-xs-12 col-md-2"><a href="{% url 'store:ticket-edit' ticket.id %}">edit</a></div>
      <div class="col-xs-12 col-md-2"><a href="{% url 'store:ticket-delete' ticket.id %}">delete</a></div>      
    </div>
  {% endfor %}
</div>
{% if error %}
<script>
  swal(
    'Error !',
    '{{ error }}',
    'error'
  )
  window.history.replaceState(null ,null, '/store')
</script>
{% endif %}
{% include 'components/store/footer.html' %}
