<div class="profile-nav">
  <a class="profile-nav-btn" href="{% url 'index:profile' %}">
    profile
  </a>
  <a class="profile-nav-btn" href="{% url 'index:wallet' %}">
    wallet
  </a>
  <div class="profile-image-wrapper">
    <img class="profile-image" src="https://www.what-dog.net/Images/faces2/scroll001.jpg" alt=" profile">
  </div>
  <a class="profile-nav-btn" href="{% url 'index:coupon' %}">
    coupon
  </a>
  <a class="profile-nav-btn" href="{% url 'index:setting' %}">
    setting
  </a>
</div>